<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let people of peoples; let i = index">
      <td scope="row"><input type="checkbox" [(ngModel)]="people.selected" id="people{{i}}"
          [disabled]="people.checked" /></td>
      <td>{{people.first}}</td>
      <td>{{people.last}}</td>
      <td>{{people.handle}}
        <ng-template #tipContent>Hello .. </ng-template>
         <i class="fas fa-info-circle" [ngbTooltip]="tipContent"></i>
       </td>
    </tr>

  </tbody>
</table>

<button type="button" class="btn btn-dark" (click)="addPeoples(NoSelectedProf) ">Seleccionar</button>
<ng-template #NoSelectedProf>
  <div class="modal-body">
    <p>no se ha seleccionado elementos, por favor seleccione por los menos uno.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
  </div>
</ng-template>