<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let people of peoples; let i = index">
      <td scope="row"><input type="checkbox" [(ngModel)]="people.checked" id="people{{i}}" /></td>
      <td>{{people.first}}</td>
      <td>{{people.last}}</td>
      <td>{{people.handle}}</td>
    </tr>
   
  </tbody>
</table>

<button type="button" class="btn btn-dark" (click)="addPeoples() ">Seleccionar</button>
